/* Theme Dark #c10024 */
/* Theme Bright #ff0030 */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn,
button {
  border-radius: 1vmin;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

* a {
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

:root {
  --theme: #000;
  /* --theme: #bd202e; */

  --global-padding: 0 10vmin;
  --animate-duration: 1000ms;
  /* --animate-delay: 10s; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Oswald", "Trebuchet MS", arial;
  line-height: 1.3;
  letter-spacing: 0.1;
  font-weight: 400;
  font-size: 5vmin;

  color: #000;
  background: rgb(255, 255, 255);
  padding-top: 13vh;
}

.header {
  height: 13vh;
  width: 100vw;
  padding: 0 11vmin;

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* background: #bd202e; */
  /* border-bottom: 1px solid #ddd; */

  z-index: 6;
}

/* .
.
.
.
.
.
.
S-logo */

.logo-box {
  height: 7vh;
  width: 7vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #bd202e;
}

.logo-box img {
  width: 100%;
}

/* 
.
.
.
.
.
.
.
S-nav */

.nav-box {
  height: 100%;
}

.desktop-nav,
.mobile-nav {
  display: none;
  align-items: center;
  height: 100%;
}

.desktop-nav ul {
  display: flex;
  align-items: center;

  height: 100%;
  margin: 0;
}

.desktop-nav ul li {
  list-style-type: none;
  margin-right: 2vmin;
  text-transform: uppercase;
}

.desktop-nav ul li a {
  color: #000;
}

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: fit-content;
  width: 10vmin;

  position: relative;
}

.mobile-nav svg {
  cursor: pointer;
  font-size: 24px;
}

.search-icon {
  margin-right: 8vmin;
  transition: 0.3s;
}

#site-search {
  border: solid 1px #000;

  height: 50%;
  width: 50vmin;
  padding: 0 4vmin;

  position: absolute;
  right: -100vw;
  transition: 0.3s;

  outline: none;
}

.mobile-nav-dropdown {
  position: fixed;
  height: 0vmin;
  width: 90vmin;
  padding: 5vmin;

  top: -14vh;
  right: 5vmin;

  background: #fff;
  transition: 0.5s;
  z-index: 5;
  overflow: hidden;
}

.mobile-nav-dropdown .last {
  border-bottom: none;
}

.mobile-nav-dropdown li {
  list-style-type: none;

  height: 20vmin;
  font-size: 6vmin;

  display: flex;
  align-items: center;

  border-bottom: 1px solid #d8d8d8;
}

.mobile-nav-dropdown li a {
  color: #000;
}

/* 
.
.
.
.
.
.
S - Box Model */

.box-heading {
  padding: 20vmin 10vmin 20vmin 10vmin;
  background: #000;
}

.box-heading h6 {
  color: #fff;
  font-size: 10vmin;
}

.box-heading p {
  font-family: "Roboto";
  font-weight: 300;
  color: #fff;
}

.box-heading img {
  height: 13vmin;
}

.box-paragraph {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 3.5vmin;
  text-align: justify;
  padding: 10vmin 10vmin 5vmin 10vmin;
  background: #fff;
}

.explain-box-heading {
  padding: 30vmin 10vmin 35vmin 10vmin;

  background: #000;
  position: relative;
}

.explain-box-heading h6,
.explain-box-heading p {
  color: #fff;
  text-align: center;
}

.explain-box-heading svg {
  position: absolute;
  bottom: 0;
  left: 0;

  z-index: 0;
}

/* 
.
.
.
.
.
.
S-hero */

.hero {
  height: 87vh;
  background: #bd202e;
  position: relative;

  display: flex;
  flex-direction: column;
}

.hero-slider {
  padding: 10vmin 0;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-slider p {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 15vmin;
  line-height: 1;

  color: #fff;
  margin: 0vmin 10vmin;
}

.hero-slider img {
  height: 51.2px;
}

.hero-image {
  align-items: center;
  justify-content: center;
}

.hero-image img {
  max-width: 80%;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0vmin 8vmin;
  width: 100%;
}

.hero-buttons button {
  background: #fff;

  height: 18vmin;
}

/* .
.
.
.
.
.
.
S - Explain */

.section {
  padding: var(--global-padding);
  padding-bottom: 5vmin;
}

.explain-wrapper {
  padding: var(--global-padding);
}

.explain-item {
  padding-bottom: 10vmin;
  margin-bottom: 10vmin;
  display: flex;
  flex-direction: column;

  border-bottom: 1px dotted #000;
}

.explain-item-icon img {
  height: 20vmin;
}

.explain-item-heading {
  font-size: 6vmin;
  margin-bottom: 2vmin;
}

.explain-item-text {
  font-size: 5vmin;
  font-family: "Roboto";
  font-weight: 300;

  /* text-align: center; */
  color: #3d3d3d;
}

.explain-button {
  width: 40vmin;
  height: 15vmin;
  background: var(--theme);
  margin-bottom: 1vmin;
}

.explain-button:hover {
  background: #000;
  border: none;
}

.explain-button a {
  font-family: "Oswald";
  color: #fff;
  text-decoration: none;
  font-size: 5vmin;
}

/* .
.
.
.
.
.
.
S - Patner */

.patners {
  background: var(--theme);
  padding-bottom: 0;
}

.patners-logo {
  margin: 0;
  padding-top: 5vmin;
  background: #fff;
}

.patners-logo-item {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-bottom: 5vmin;
}

.patners-logo-item img {
  width: 30%;
}

.patners-logo-item h6 {
  font-size: 6vmin;
  color: #000;
}

/* .
.
.
.
.
.
.
S -Team & S - staff*/

.team,
.staff {
  background: var(--theme);
  padding-bottom: 0;
}

.team-carousel-container,
.staff-carousel-container {
  padding: 0vmin 5vmin;
  background: #fff;
  padding-top: 10vmin;
}

.swiper-slide {
  height: 55vmin; /* 40vmin for imge, 10vmin for caption, 5 for carousel dots */
}

.slider-image {
  height: 40vmin;
}

.slider-caption {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10vmin;
}
