*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn,
button {
  border-radius: 1vmin;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

* a {
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
:root {
  --theme: #bd202e;
  --global-padding: 0 10vmin;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Dosis", "Trebuchet MS", arial;
  line-height: 1.2;
  font-size: 3.5vmin;

  color: #555;
  padding-top: 13vh;
}

.header {
  height: 13vh;
  width: 100vw;
  padding: 0 11vmin;

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #fff;
  border-bottom: 1px solid #ddd;

  z-index: 6;
}

/* S-logo */
.logo-box {
  height: 7vh;
  width: 7vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--theme);
}

.logo-box img {
  width: 100%;
}

/* S-nav */
.nav-box {
  height: 100%;
}

.desktop-nav,
.mobile-nav {
  display: none;
  align-items: center;
  height: 100%;
}

.desktop-nav ul {
  display: flex;
  align-items: center;

  height: 100%;
  margin: 0;
}

.desktop-nav ul li {
  list-style-type: none;
  margin-right: 2vmin;
  text-transform: uppercase;
}

.desktop-nav ul li a {
  color: #555;
}

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: fit-content;
  width: 10vmin;

  position: relative;
}

.mobile-nav svg {
  cursor: pointer;
  font-size: 24px;
}

.search-icon {
  margin-right: 8vmin;
  transition: 0.3s;
}

#site-search {
  border: solid 1px #a5a4a4;

  height: 50%;
  width: 40vmin;
  padding: 0 4vmin;

  position: absolute;
  top: -50%;
  transition: 0.3s;

  outline: none;
}
.mobile-nav-dropdown {
  position: fixed;
  height: 0vmin;
  width: 90vmin;
  padding: 5vmin;

  top: -14vh;
  right: 5vmin;

  background: #fff;
  transition: 0.5s;
  z-index: 5;
  overflow: hidden;
}

.mobile-nav-dropdown .last {
  border-bottom: none;
}

.mobile-nav-dropdown li {
  list-style-type: none;

  height: 20vmin;
  font-size: 6vmin;

  display: flex;
  align-items: center;

  border-bottom: 1px solid #e7e7e7;
}

.mobile-nav-dropdown li a {
  color: #555;
}

/* S-hero */
.hero {
  height: 87vh;
  background: var(--theme);
  position: relative;
}

.hero svg {
  position: absolute;
  bottom: 0;
  left: 0;

  z-index: 0;
}

.hero-slider {
  height: 75vh;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-slider p {
  color: #ffdeb8;
  border-left: 1vmin solid #ffdeb8;

  font-size: 10vmin;
  font-weight: 400;
  line-height: 1.4;

  padding-left: 8vmin;
  margin: 3vmin 13vmin;
}

.hero-slider img {
  height: 51.2px;
}

.hero-name {
  color: #ffdeb8;
  width: 100%;
  padding-left: 22vmin;

  font-size: 5vmin;
}

.hero-image {
  align-items: center;
  justify-content: center;
}

.hero-image img {
  max-width: 80%;
}

/* S-section */
.section {
  padding: var(--global-padding);
  margin-bottom: 10vmin;
}

.section-heading {
  padding: 0vmin 15vmin;
  color: #bd202e;
}

.section-heading h6 {
  font-size: 8vmin;
  text-align: center;
}

/* Section item - SERVICES*/
.section-item {
  min-height: 45vmin;
  margin-bottom: 10vmin;
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid #ddd;
}

.section-item-icon img {
  height: 20vmin;
}

.section-item-heading {
  font-size: 6vmin;
  margin-bottom: 2vmin;
}

.section-item-text {
  font-size: 5vmin;
}

.section-button {
  width: 40vmin;
  height: 15vmin;
  background: var(--theme);
  margin-bottom: 1vmin;
}

.section-button:hover {
  background: #000;
  border: none;
}

.section-button a {
  color: #fff;
  text-decoration: none;
  font-size: 5vmin;
}

/* Section Item - PATNERS */
.patners {
  background: var(--theme);
  margin-bottom: 0;
}

.patners-section-item {
  border: none;
}

.patners-section-heading {
  padding: 10vmin 0 0 0;
}

.patners-section-heading h6 {
  color: #fff;
  text-align: left;
}

.patners-section-item-text {
  color: #fff;
  padding-bottom: 10vmin;
  border-bottom: 1px solid #fff;
}

.patners-logo {
  margin: 0;
  padding-top: 5vmin;
}
.patner-logo-item {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.patner-logo-item img {
  width: 70%;
}

.patner-logo-item h6 {
  font-size: 6vmin;
  color: #fff;
}

.patners-section-button {
  border: solid 1vmin #fff;
}

.patners-section-button a {
  color: #fff;
}
/* Tablets - md */
@media only screen and (min-width: 768px) {
  body {
    padding-top: 9vh;
  }
  .header {
    height: 9vh;
    padding: 0 18vmin;
  }

  .hero {
    height: 91vh;
    background: var(--theme);
  }

  .section-heading {
    padding: 15vmin 0vmin;
  }

  .patners-section-heading {
    padding: 10vmin 0 0 0;
  }

  .section-item {
    border-bottom: none;
  }
}

@media only screen and (min-width: 992px) {
  :root {
    --global-padding: 0 25vmin;
  }
  .header {
    height: 9vh;
    padding: 0 24vmin;
  }

  .logo-box {
    height: 8vh;
    width: 8vh;
  }

  .hero svg {
    bottom: -15vh;
  }
}
