html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

:root {
  --background: rgb(252, 252, 252);
  --foreground: #000;
  --text: #222;
  --theme: #db0b20;

  --dim-background: #e9e9e9;

  --global-padding: 0 10vmin;
  --animate-duration: 1000ms;
}

:root.dark {
  --background: rgb(26, 32, 43);
  --dim-background: rgb(38, 46, 59);
  --foreground: rgb(245, 245, 245);
  --text: rgb(245, 245, 245);
  --theme: #97e274;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  /* font-family: "Bitter", "Trebuchet MS", arial; */
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
  font-weight: 300;
  font-size: 4vmin;

  color: var(--text);
  background: var(--background);
  padding-top: 13vh;
}

.header {
  height: 13vh;
  width: 100vw;
  padding: 0 11vmin;

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--background);
  box-shadow: 0px -5px 10px #000;
  z-index: 6;
}

/* LOGO                                            //// */
.logo-box {
  height: 6.5vh;
  width: 6.5vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--foreground);
  border-radius: 1vmin;
}

.logo-box img {
  width: 100%;
}

/* NAVIGATON                                       //// */
.nav-box {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktop-nav,
.mobile-nav {
  display: none;
  align-items: center;
  /* height: 100%; */
}

.desktop-nav ul {
  display: flex;
  align-items: center;

  height: 100%;
  width: 100%;
  margin: 0;
}

.desktop-nav ul li {
  margin-right: 2vmin;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.desktop-nav ul li a {
  color: var(--foreground);
  font-size: 2.3vmin;
  font-weight: 600;
}

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: fit-content;
}

.mobile-nav svg {
  font-size: 24px;
  fill: var(--foreground);
}

.mobile-nav-dropdown {
  position: fixed;
  height: 0vmin;
  width: 90vmin;
  padding: 5vmin;

  top: -14vh;
  right: 5vmin;

  background: var(--background);
  transition: 0.5s;
  z-index: 5;
  overflow: hidden;
}

.mobile-nav-dropdown .last {
  border-bottom: none;
}

.mobile-nav-dropdown li {
  list-style-type: none;
  height: 13vmin;

  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--dim-background);
}

.mobile-nav-dropdown li a {
  color: var(--text);
  font-size: 4vmin;
  font-weight: 600;
}

/*Theme Toggler*/
.toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--foreground);
  color: var(--background);

  border: none;
  border-radius: 3px;

  height: 28px;
  width: 28px;

  margin-right: 2vmin;
}
.toggle-button.dark-mode {
  background-color: var(--theme);
}

.toggle-button div {
  margin-right: 1vmin;
}

.toggle-button:focus {
  outline: none;
}

/* BOX MODEL                                 ///// */
.box-heading {
  padding: 0 13vmin;
  min-height: 43vh;
  background-color: var(--dim-background);
  /* background: linear-gradient(180deg, var(--dim-background), var(--background)); */
  display: flex;
  align-items: center;
}

.box-heading h6 {
  font-weight: 900;
  color: var(--text);
  font-size: 10vmin;
}

/* HERO                                          /////  */
.hero {
  height: 87vh;
  display: flex;
  flex-direction: column;
  background: var(--background);
  position: relative;
}

.hero-textbox {
  height: 87vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  padding-top: 10vmin;
}

.hero-textbox h1 {
  font-weight: 900;
  font-size: 11vmin;

  color: var(--text);
  margin: 0vmin 10vmin;
}

.hero-textbox p {
  font-family: "Roboto";
  font-style: italic;
  font-size: 4vmin;
  margin: 6vmin 10vmin 8.5vmin 10vmin;
  padding-top: 5vmin;
  color: var(--foreground);
  font-weight: 300;
  line-height: 1;
  border-top: 1px solid var(--dim-background);
}

.hero-image {
  align-items: center;
  justify-content: center;
}

.small-laptop-image {
  display: none;
}

.hero-image img {
  max-width: 80%;
}

.hero h1 em {
  color: var(--theme);
  width: unset;
  font-style: normal;
}

.hero-scroll {
  position: absolute;
  bottom: 10%;
  left: 10vmin;
  background: var(--dim-background);
  padding: 1vmin;

  border-radius: 50%;
  box-shadow: rgb(138, 138, 138) 5px -2px 3px;
  z-index: 5;
}
.hero-scroll a {
  width: 100%;
  height: 100%;
  display: block;
}

.hero-scroll a svg {
  stroke: var(--foreground);
}

.hero-wave {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  /* transform: rotate(90deg); */
}
.hero-path-1 {
  fill: var(--dim-background);
}

/* PATNERS                                         //// */
.patners-logo {
  position: relative;
  height: 34vh;
  padding: 0 10vmin;
  background: var(--background);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.patners-logo-item {
 height: 10vmin;
}

.patners-logo-item img {
  height: 100%;
}


/* MESSAGE                               //// */
.contact {
  height: 10vh;
  background: var(--background);
}

.contact-form-title {
  font-family: "Roboto", Arial;
  font-size: 3vmin;
  font-weight: 300;
  margin-bottom: 0;
}


/* Pads & Small laptops*/
@media only screen and (min-width: 768px) {
  .header {
    padding: 0 5vmin;
  }
  .hero-textbox {
    justify-content: center;
    padding-top: 0px;
    margin-top: 0vmin;
  }
  .hero-textbox h1 {
    font-size: 11.5vmin;
    margin: 0vmin 10vmin 0 10vmin;
    padding-bottom: 0vmin;
  }
  .hero-textbox p {
    margin: 4vmin 10vmin 2vmin 10vmin;
    font-size: 4.5vmin;
  }


  .hero-scroll,
  .hero-wave {
    display: none;
  }
}

/* Small Laptops */
@media only screen and (min-width: 1025px) {
  .header {
    padding: 0 11vmin;
  }
  .hero-textbox h1,
  .hero-textbox p {
    width: 100%;
    padding: 0 10vmin;
    padding-right: 40vw;
    margin: 0;
    border: none;
  }
  .hero-textbox h1 {
    margin-right: 1.5vmin;
    font-size: 8.5vmin;
  }
  .hero-textbox p {
    font-size: 4vmin;
    margin: 3vmin 10vmin 8.5vmin 0vmin;
  }
  .small-laptop-image {
    display: block;
    position: absolute;

    right: 0;
    height: 100%;
    padding: 0 10vmin;
    width: fit-content;
    background: #000;

    display: flex;
    align-items: center;
  }

  .small-laptop-image img {
    width: 40vmin;
  }

  .contact-form-title {
    font-size: 3vmin;
  }

}

/* 15' Laptops */
@media only screen and (min-width: 1200px) {
  .explain-item-text {
    padding: 0;
  }
  .small-laptop-image {
    display: none;
  }
  .hero-textbox h1,
  .hero-textbox p {
    padding: 0 10vmin;
    padding-right: 10vw;
  }
  .hero-textbox p {
    margin-right: 1.5vmin;
    /* background: #000; */
  }

  .hero-image {
    display: flex;
    align-items: center;
    background: #000;
  }
  .hero-image img {
    width: 60%;
  }
}
